<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
  
  <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <timeZone>America/Sao_Paulo</timeZone>
        </timestamp>
        <pattern>
          <pattern>
            {
            "level": "%level",
            "company": "%mdc{company}",
            "user": "%mdc{user}",
            "message": "%message",
            "traceId": "%mdc{trace_id}",
            "spanId": "%mdc{span_id}",
            "traceFlags": "%mdc{trace_flags}",
            <!-- Nginx requestID -->
            "requestId": "%mdc{X-Request-ID}",
            "logger": "%logger",
            "thread": "%thread"
            }
          </pattern>
        </pattern>
        <stackTrace>
          <fieldName>stackTrace</fieldName>
          <throwableConverter
            class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
            <maxDepthPerThrowable>4</maxDepthPerThrowable>
            <!-- <maxLength>256</maxLength>-->
            <shortenedClassNameLength>30</shortenedClassNameLength>
            <rootCauseFirst>true</rootCauseFirst>
          </throwableConverter>
        </stackTrace>
      </providers>
    </encoder>
    
    <!-- <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender"> -->
    <!--   <discardingThreshold>0</discardingThreshold> &lt;!&ndash; default 20, means drop lower event when has 20% capacity remaining &ndash;&gt; -->
    <!--   <appender-ref ref="CONSOLE" /> -->
    <!--   <queueSize>1024</queueSize> &lt;!&ndash; default 256 &ndash;&gt; -->
    <!--   <includeCallerData>false</includeCallerData> &lt;!&ndash; default false &ndash;&gt; -->
    <!--   <neverBlock>false</neverBlock> &lt;!&ndash; default false, set to true to cause the Appender not block the application and just drop the messages &ndash;&gt; -->
    <!-- </appender> -->
  
  </appender>
  
  <springProfile name="!json-logs">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>
  
  <springProfile name="json-logs">
    <root level="INFO">
      <appender-ref ref="JSON"/>
    </root>
  </springProfile>

</configuration>
